.header {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
    .top {
        width: 100%;
        height: 110px;
        background-color: #333029;
        >a {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // >img{
            //     // border: 2px solid yellow;

            // }
        }
        .contact {
            // border: 2px solid yellow;
            width: 70%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .link {
                flex-grow: 1;
                // border: 2px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-right: 1px solid #afaa9b6e;
                // >*{
                //     // border: 2px solid blue;
                // }
                >a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #23211b;
                    color: #d9a95b;
                    transition: .4s;
                    &:hover {
                        color: white;
                    }
                }
                .prg {
                    cursor: pointer;
                    width: 50%;
                    margin-left: 10px;
                    >p:nth-of-type(1) {
                        color: #979285;
                        text-transform: capitalize;
                    }
                    >p:nth-of-type(2) {
                        color: white;
                        font-weight: bold;
                        transition: .4s;
                        &:hover{
                            color: #d9a95b;
                        }
                    }
                }
            }
        }
    }
    
    .menu {
        width: 100%;
        height: 70px;
        .menubar {
            width: 60%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #84837d;
            >a  {
                margin: 0 15px;
                font-weight: bold;
                transition: .4s;
                position: relative;
                text-transform: capitalize;
                &:hover {
                    color: #d9a95b;
                    &::after {
                        width: 100%;
                    }
                }
            }
            >a::after {
                content: "";
                position: absolute;
                top: 5px;
                right: 0;
                height: 100%;
                width: 0;
                border-bottom: 3px solid #d9a95b;
                transition: 1s;
            }
        }
        
        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            >*{
                margin: 0 5px;
            }
            >a{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #f6f2eb;
                color: #84827d;
                transition: .4s;
                position: relative;
                &:hover {
                    background-color: #d9a95b;
                    color: white;
                }
            }
            .estimate {
                margin-left: 20px;
                width: 250px;
                background-color: #d9a95b;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                color: white;
                font-weight: bold;
                position: relative;
                &:hover::after{
                    width: 100%;
                }
                >p{
                    position: absolute;
                    z-index: 999;
                }
            }
            .estimate::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0%;
                height: 100%;
                background-color: #23211b;
                border-radius: 50px;
                transition: .4s;
            }
        }
    }

    .article {
        width: 100%;
        height: calc(100% - 180px);
        background-image: url(../img/slide-v1-2.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        >div {
            // border: 2px solid red;
            width: 60%;
            height: 60%;
            margin-left: 190px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            >* {
                width: 100%;
                // border: 2px solid green;
                color: #23211be4;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-family: 'Abril Fatface', cursive;
                font-family: 'Bai Jamjuree', sans-serif;
                font-family: 'Edu SA Beginner', cursive;
                font-family: 'Kanit', sans-serif;
                letter-spacing: 1px;
            }
            >h6 {
                font-size: 20px;
                margin-top: -30px;
            }
            h1 {
                font-size: 100px;
                position: relative;
                margin-left: 30px;
                text-transform: capitalize;
                margin-top: -40px;
            }
            h1::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 77%;
                margin-right: 30px;
                margin-top: 40px;
                border-left: 10px solid #d9a95b;
            }
            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 70px;
                background-color: #d9a95b;
                color: white;
                font-size: 20px;
                border-radius: 50px;
                margin-top: -20px;
            }
        }
    }
}
.about {
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: 10% 5% 35% 50%;
    grid-template-rows: calc(100vh - 95px) 95px 80vh;

    >*{
        border: 2px solid red;
    }
    .sideimg1 {
        display: flex;
        align-items: center;
        >div {
            width: 110px;
            height: 206px;
            // border: 2px solid green;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .Aarticle {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
    .Aimage {
        grid-row-end: span 2;
        >img {
            height: 85%;
            margin-top: 110px;
            width: 78%;
            position: relative;
        }
        >figure {
            width: 150px;
            height: 150px;
            position: absolute;
            right: 380px;
            top: calc(150vh + 180px);
            border-radius: 50%;
            // border: 2px solid green;
            display: flex;
            justify-content: center;
            background-color: #d9a95b;
            flex-wrap: wrap;
            >img {
                width: 50%;
                height: 60%;
                object-fit: contain;
                border-radius: 30%;
            }
            figcaption {
                width: 80%;
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 20px;
                margin-top: -20px;
            }
        }
        img:nth-of-type(2) {
            position: absolute;
            width: 200px;
            height: 200px;
            object-fit: cover;
            right: 120px;
            top: calc(150vh + 380px);
            z-index: -1;
            animation: rotation 10s linear infinite;
            @keyframes rotation {
                from {
                   transform: rotateY(0deg);
                }
                to {
                   transform: rotateY(360deg);
                }
            }

        }
    }
    .sideimg2 {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-end: span ;
        >img {
            margin-top: -120px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Agallery {
        grid-column-start: 3;
        grid-column-end: span 2;
    }
}