@charset "UTF-8";
.header {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
}
.header .top {
  width: 100%;
  height: 110px;
  background-color: #333029;
}
.header .top > a {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .top .contact {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.header .top .contact .link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 1px solid rgba(175, 170, 155, 0.431372549);
}
.header .top .contact .link > a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #23211b;
  color: #d9a95b;
  transition: 0.4s;
}
.header .top .contact .link > a:hover {
  color: white;
}
.header .top .contact .link .prg {
  cursor: pointer;
  width: 50%;
  margin-left: 10px;
}
.header .top .contact .link .prg > p:nth-of-type(1) {
  color: #979285;
  text-transform: capitalize;
}
.header .top .contact .link .prg > p:nth-of-type(2) {
  color: white;
  font-weight: bold;
  transition: 0.4s;
}
.header .top .contact .link .prg > p:nth-of-type(2):hover {
  color: #d9a95b;
}
.header .menu {
  width: 100%;
  height: 70px;
}
.header .menu .menubar {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #84837d;
}
.header .menu .menubar > a {
  margin: 0 15px;
  font-weight: bold;
  transition: 0.4s;
  position: relative;
  text-transform: capitalize;
}
.header .menu .menubar > a:hover {
  color: #d9a95b;
}
.header .menu .menubar > a:hover::after {
  width: 100%;
}
.header .menu .menubar > a::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  height: 100%;
  width: 0;
  border-bottom: 3px solid #d9a95b;
  transition: 1s;
}
.header .menu .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .social > * {
  margin: 0 5px;
}
.header .menu .social > a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6f2eb;
  color: #84827d;
  transition: 0.4s;
  position: relative;
}
.header .menu .social > a:hover {
  background-color: #d9a95b;
  color: white;
}
.header .menu .social .estimate {
  margin-left: 20px;
  width: 250px;
  background-color: #d9a95b;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  position: relative;
}
.header .menu .social .estimate:hover::after {
  width: 100%;
}
.header .menu .social .estimate > p {
  position: absolute;
  z-index: 999;
}
.header .menu .social .estimate::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #23211b;
  border-radius: 50px;
  transition: 0.4s;
}
.header .article {
  width: 100%;
  height: calc(100% - 180px);
  background-image: url(../img/slide-v1-2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}
.header .article > div {
  width: 60%;
  height: 60%;
  margin-left: 190px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.header .article > div > * {
  width: 100%;
  color: rgba(35, 33, 27, 0.8941176471);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
  letter-spacing: 1px;
}
.header .article > div > h6 {
  font-size: 20px;
  margin-top: -30px;
}
.header .article > div h1 {
  font-size: 100px;
  position: relative;
  margin-left: 30px;
  text-transform: capitalize;
  margin-top: -40px;
}
.header .article > div h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 77%;
  margin-right: 30px;
  margin-top: 40px;
  border-left: 10px solid #d9a95b;
}
.header .article > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 70px;
  background-color: #d9a95b;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  margin-top: -20px;
}

.about {
  width: 100%;
  height: 180vh;
  display: grid;
  grid-template-columns: 10% 5% 35% 50%;
  grid-template-rows: calc(100vh - 95px) 95px 80vh;
}
.about .sideimg1 {
  display: flex;
  align-items: center;
}
.about .sideimg1 > div {
  width: 110px;
  height: 206px;
}
.about .sideimg1 > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .Aarticle {
  grid-column-end: span 2;
  grid-row-end: span 2;
  display: flex;
  flex-wrap: wrap;
}
.about .Aarticle > * {
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.about .Aarticle > p {
  font-size: 20px;
}
.about .Aarticle > p:nth-of-type(1), .about .Aarticle > p:nth-of-type(2) {
  color: #c3c2bf;
}
.about .Aarticle > p:nth-of-type(3), .about .Aarticle > p:nth-of-type(4), .about .Aarticle > p:nth-of-type(5) {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.about .Aarticle > p:nth-of-type(3)::before, .about .Aarticle > p:nth-of-type(4)::before, .about .Aarticle > p:nth-of-type(5)::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #d9a95b;
}
.about .Aarticle > p:nth-of-type(1) {
  width: 130px;
  height: 30px;
  margin-top: 110px;
  border-bottom: 2px solid #d9a95b;
}
.about .Aarticle > h3 {
  font-size: 55px;
  margin-top: -20px;
}
.about .Aarticle > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.about .Aarticle > div > img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .Aarticle > div > h5 {
  margin-left: 10px;
  font-size: 28px;
  color: #d9a95b;
}
.about .Aimage {
  grid-row-end: span 2;
}
.about .Aimage > img {
  height: 85%;
  margin-top: 110px;
  width: 78%;
  position: relative;
}
.about .Aimage > figure {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 380px;
  top: calc(150vh + 180px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #d9a95b;
  flex-wrap: wrap;
  z-index: 999;
}
.about .Aimage > figure > img {
  width: 50%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 30%;
}
.about .Aimage > figure figcaption {
  width: 80%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
}
.about .Aimage > figure::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: #d9a95b;
  transform: rotate(85deg);
  top: 55px;
  left: 55px;
  z-index: -1;
}
.about .Aimage img:nth-of-type(2) {
  position: absolute;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  right: 120px;
  top: calc(150vh + 380px);
  z-index: -1;
  animation: rotation 10s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.about .sideimg2 {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-end: span;
  position: absolute;
  top: 232vh;
  z-index: -1;
}
.about .sideimg2 > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .Agallery {
  grid-column-start: 3;
  grid-column-end: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .Agallery > div {
  height: 400px;
  width: 80%;
  left: 190px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
}
.about .Agallery > div > * {
  width: 30%;
  margin: 0 30px 0 0;
  border-radius: 20px;
}
.about .Agallery > div > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.about .Agallery > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.about .Agallery > div > figure > figcaption {
  background-color: white;
  position: absolute;
  width: 330px;
  height: 100px;
  z-index: 999;
  top: 300px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-align: center;
}
.about .Agallery > div > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.about .Agallery > div > div > div {
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: rgba(217, 169, 91, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.about .Agallery > div > div > div > i {
  position: absolute;
  font-size: 100px;
  top: -20px;
  right: -20px;
}
.about .Agallery > div > div > div div {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.about .Agallery > div > div > div div > * {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .Agallery > div > div > div div > h6 {
  font-size: 30px;
  letter-spacing: 2px;
}
.about .Agallery > div > div > div div > div {
  height: 40px;
}
.about .Agallery > div > div > div div > div > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: bold;
  margin-top: -30px;
}
.about .Agallery > div > div > div div > div:nth-of-type(1) {
  margin-top: -30px;
}
.about .Agallery > div > div > div div > div:nth-of-type(2), .about .Agallery > div > div > div div > div:nth-of-type(3) {
  margin-top: 25px;
}
.about .Agallery > div > div > div div > a {
  background-color: #23211b;
  border-radius: 50px;
  width: 80%;
  margin: 60px 10% 0 10%;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.quality {
  width: 100%;
  height: 95vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.quality .background {
  width: 100%;
  height: 100%;
  background-image: url(../img/interior-design-area-bg.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}
.quality > div:nth-of-type(2),
.quality div:nth-of-type(3) {
  width: 30%;
  height: 70%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.quality > div:nth-of-type(2) {
  width: 45%;
}
.quality > div:nth-of-type(2) > p {
  font-size: 18px;
  width: 200px;
  border-bottom: 2px solid rgba(217, 169, 91, 0.8);
  color: #84827d;
  letter-spacing: 1px;
}
.quality > div:nth-of-type(2) > h3 {
  font-size: 50px;
  font-weight: bold;
}
.quality > div:nth-of-type(2) > div {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.quality > div:nth-of-type(2) > div > div {
  background-color: #d9a95b;
  font-size: 16px;
  width: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 50px;
}
.quality > div:nth-of-type(2) > div > div:nth-of-type(2), .quality > div:nth-of-type(2) > div > div:nth-of-type(3) {
  background-color: white;
  color: black;
}
.quality > div:nth-of-type(2) > figure {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
  height: 170px;
}
.quality > div:nth-of-type(2) > figure > img {
  width: 20%;
  margin-left: -120px;
}
.quality > div:nth-of-type(2) > figure > figcaption {
  margin-left: 20px;
  width: 60%;
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
  color: #84827d;
  letter-spacing: 1px;
}
.quality div:nth-of-type(3) > div {
  height: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.quality div:nth-of-type(3) > div > * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
}
.quality div:nth-of-type(3) > div > i {
  grid-row-end: span 2;
  color: #d9a95b;
  font-size: 60px;
  padding-left: 25px;
  margin-top: -40px;
}
.quality div:nth-of-type(3) > div > h5 {
  grid-column-end: span 3;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 90%;
}
.quality div:nth-of-type(3) > div > p {
  grid-column-end: span 3;
  grid-row-end: span 2;
  color: #84827d;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: -100px;
}
.quality div:nth-of-type(3) > div:nth-of-type(2) {
  margin-top: 30px;
}
.quality div:nth-of-type(3) > p {
  border-top: 1px solid #84827d;
  margin-top: -50px;
}

.project {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.project > h3 {
  width: 100%;
  height: 150px;
  background-color: #d9a95b;
  font-size: 45px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  position: relative;
  margin-top: -66px;
}
.project > h3::after {
  content: "";
  position: absolute;
  background-color: #d9a95b;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  z-index: -1;
  top: 40px;
}
.project > div {
  width: 80%;
  height: 230px;
  flex-wrap: nowrap;
  margin-top: -60px;
}
.project > div > figure {
  width: 205px;
  height: 100%;
  flex-grow: 1;
  margin: 0 15px;
  border-radius: 10px;
}
.project > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 10px;
}
.project > div > figure > figcaption {
  position: absolute;
  width: 0px;
  height: 227px;
  top: 463vh;
  background-image: linear-gradient(to top, rgba(217, 169, 91, 0.8549019608) 5%, rgba(217, 169, 91, 0.1803921569) 50%, rgba(255, 255, 255, 0.0784313725) 100%);
  transition: 1s;
  border-radius: 10px;
}
.project > div > figure > p {
  width: 209px;
  height: 227px;
  position: absolute;
  top: 463vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  text-align: center;
  background-color: inherit;
  opacity: 0;
  transition: 2s;
  font-weight: bold;
  overflow: hidden;
  border-radius: 10px;
}
.project > div > figure > p > a {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 25px;
  transition: 2s;
  top: 190px;
  color: black;
}
.project > div > figure > p > a:hover {
  background-color: #333029;
  color: white;
}
.project > div > figure:hover > figcaption {
  width: 214px;
  border-radius: 10px;
}
.project > div > figure:hover > figcaption::before {
  opacity: 1;
}
.project > div > figure:hover > p {
  opacity: 1;
}

.services {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(180deg, #f6f2eb 45%, white 45%);
  border-bottom: 1px solid #f6f2eb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.services > p {
  width: 170px;
  font-size: 18px;
  color: #84827d;
  letter-spacing: 1px;
  border-bottom: 2px solid #d9a95b;
}
.services > h5 {
  font-size: 50px;
  margin-top: -350px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #333029;
}
.services > div {
  width: 90%;
  height: 460px;
  margin-top: -250px;
  display: flex;
  flex-wrap: nowrap;
}
.services > div > * {
  margin: 0 20px;
  border: 1px solid #f6f2eb;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: white;
  width: 368px;
}
.services > div > * > * {
  width: 100%;
  text-align: center;
}
.services > div > * > img {
  position: absolute;
  width: 330px;
  height: 220px;
  top: -30px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services > div > * > a:nth-of-type(1) {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #333029;
  margin-top: 170px;
}
.services > div > * > a:nth-of-type(2) {
  position: absolute;
  width: 100px;
  top: 408px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 35px;
  background-image: linear-gradient(to bottom, #f6f2eb 50%, white 50%);
}
.services > div > * > p {
  width: 74%;
  font-size: 18px;
  color: #84827d;
  letter-spacing: 1px;
  margin-top: -130px;
}

.book {
  width: 100%;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book > div {
  width: 90%;
  height: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.book > div > * {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book > div > div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}
.book > div > div > div {
  margin-left: -150px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book > div > div > div:nth-of-type(1) {
  width: 30%;
  position: relative;
}
.book > div > div > div:nth-of-type(1) > img {
  width: 50%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.book > div > div > div:nth-of-type(2) {
  margin-left: -20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.book > div > div > div:nth-of-type(2) > * {
  width: 100%;
}
.book > div > div > div:nth-of-type(2) > p {
  margin-top: 10px;
  font-size: 18px;
  color: #84827d;
  letter-spacing: 1px;
}
.book > div > div > div:nth-of-type(2) > h6 {
  margin-top: -30px;
  font-size: 40px;
  color: #333029;
}
.book > div > p {
  margin-left: -100px;
  width: 28%;
  height: 100%;
  font-size: 18px;
  color: #84827d;
  letter-spacing: 1px;
}
.book > div > a {
  width: 20%;
  height: 70px;
  background-color: #333029;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

.feedback {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.feedback > img {
  width: 45%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback > h6 {
  width: 6%;
  background-color: #d9a95b;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.feedback > h6::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #d9a95b;
  transform: rotate(45deg);
  left: 0;
  z-index: -1;
}
.feedback > div {
  width: 49%;
  background-image: linear-gradient(rgba(51, 48, 41, 0.9411764706), #333029), url(../img/testimonial-style1-pattern.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback > div > div {
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feedback > div > div > * {
  width: 100%;
}
.feedback > div > div > h5 {
  font-size: 50px;
  color: white;
  letter-spacing: 1px;
}
.feedback > div > div > p {
  color: #84827d;
  font-size: 18px;
  letter-spacing: 1px;
}
.feedback > div > div > p:nth-of-type(1) {
  position: relative;
  margin-top: 50px;
}
.feedback > div > div > p:nth-of-type(1)::after {
  position: absolute;
  content: "";
  width: 173px;
  height: 2px;
  background-color: #d9a95b;
  left: 0;
  top: 22px;
}
.feedback > div > div > div {
  margin-right: 200px;
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
}
.feedback > div > div > div > img {
  width: 100px;
  height: 100px;
}
.feedback > div > div > div > div {
  width: 200px;
  margin: 20px 0 0 30px;
}
.feedback > div > div > div > div > h6 {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
.feedback > div > div > div > div > p {
  color: #d9a95b;
  font-size: 18px;
}

.number_brands {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.number_brands > div {
  width: 100%;
}
.number_brands > div:nth-of-type(1) {
  width: 75%;
  height: 281px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #333029;
  background-image: linear-gradient(rgba(51, 48, 41, 0.8705882353), rgba(51, 48, 41, 0.9294117647)), url(../img/fact-counter-area-bg.png);
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}
.number_brands > div:nth-of-type(1) > * {
  height: 70%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  border-left: 1px solid rgba(132, 130, 125, 0.5450980392);
}
.number_brands > div:nth-of-type(1) > * > * {
  width: 100%;
  text-align: center;
}
.number_brands > div:nth-of-type(1) > * > h6 {
  color: white;
  font-size: 70px;
  margin-top: 70px;
}
.number_brands > div:nth-of-type(1) > * > h6 > i {
  position: absolute;
  background-color: #333029;
  color: #d9a95b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 170px;
  font-size: 25px;
  top: 90px;
}
.number_brands > div:nth-of-type(1) > * > p {
  font-size: 17px;
  color: #84827d;
  letter-spacing: 1px;
}
.number_brands > div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  background-color: #f6f2eb;
  width: 100%;
  height: 2px;
  top: 848vh;
}
.number_brands > div:nth-of-type(3) {
  width: 80%;
  height: 100px;
  margin-left: -20px;
  margin-top: -40px;
}
.number_brands > div:nth-of-type(2) {
  position: absolute;
  width: 245px;
  height: 600px;
  left: 0;
  top: 775vh;
  z-index: -1;
  animation: side3 2s linear infinite alternate;
}
.number_brands > div:nth-of-type(2) > img {
  width: 100%;
  height: 100%;
}

@keyframes side3 {
  from {
    top: 775vh;
  }
  to {
    top: 784vh;
  }
}
.discover {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(#d9a95b, rgba(217, 169, 91, 0.7137254902)), url(../img/discover-area-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.discover > * {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discover > div:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
}
.discover > div:nth-of-type(1) > * {
  width: 100%;
}
.discover > div:nth-of-type(1) > h4 {
  font-size: 45px;
  color: white;
}
.discover > div:nth-of-type(1) > a {
  width: 230px;
  background-color: #333029;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 380px;
  margin-top: -100px;
}
.discover > div:nth-of-type(2) {
  position: relative;
}
.discover > div:nth-of-type(2) > img {
  position: absolute;
}
.discover > div:nth-of-type(2) > img:nth-of-type(1) {
  left: 90px;
  top: -54px;
  z-index: 1;
}
.discover > div:nth-of-type(2) > img:nth-of-type(2) {
  z-index: 0;
  left: 290px;
  top: -140px;
}

.footer {
  width: 100%;
  height: 85vh;
  background-color: #333029;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Abril Fatface", cursive;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Kanit", sans-serif;
}
.footer > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > div:nth-of-type(2) {
  position: absolute;
  height: 15%;
  background-color: #23211b;
  border-top: 1px solid rgba(132, 130, 125, 0.5450980392);
  top: 1040vh;
  z-index: 1;
}
.footer > div:nth-of-type(1) {
  height: 85%;
}
.footer > div > div {
  position: relative;
  z-index: 999;
  width: 70%;
  height: 65%;
  display: grid;
  grid-template-columns: 30% 15% 20% 35%;
  grid-template-rows: repeat(5, 1fr);
}
.footer > div > div > div:nth-of-type(1),
.footer > div > div > div:nth-of-type(2) {
  grid-row-end: span 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer > div > div > div:nth-of-type(1) > *,
.footer > div > div > div:nth-of-type(2) > * {
  width: 100%;
}
.footer > div > div > div:nth-of-type(1) > P,
.footer > div > div > div:nth-of-type(2) > P {
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  border-bottom: 1px solid #d9a95b;
  width: 65px;
  height: 40px;
}
.footer > div > div > div:nth-of-type(1) > ul,
.footer > div > div > div:nth-of-type(2) > ul {
  margin-top: 30px;
  height: 80%;
  margin-left: 40px;
}
.footer > div > div > div:nth-of-type(1) > ul > li,
.footer > div > div > div:nth-of-type(2) > ul > li {
  margin: 10px 0;
  font-size: 16px;
  color: #84827d;
  letter-spacing: 1px;
}
.footer > div > div > div:nth-of-type(2) > P {
  width: 100px;
  margin-left: -30px;
}
.footer > div > div > div:nth-of-type(3) {
  grid-row-end: span 2;
  display: flex;
  flex-wrap: wrap;
}
.footer > div > div > div:nth-of-type(3) > p:nth-of-type(1) {
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  border-bottom: 1px solid #d9a95b;
  width: 95px;
  height: 40px;
  margin-left: 20px;
}
.footer > div > div > div:nth-of-type(3) > p:nth-of-type(2) {
  font-size: 16px;
  color: #84827d;
  letter-spacing: 1px;
  margin-left: 20px;
}
.footer > div > div > div:nth-of-type(4) {
  grid-row-end: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > div > div > div:nth-of-type(4) > input {
  display: flex;
  height: 70px;
  width: 335px;
  border-radius: 50px;
  background-color: #23211b;
  border: 1px solid rgba(132, 130, 125, 0.4196078431);
  text-align: center;
  position: relative;
}
.footer > div > div > div:nth-of-type(4) > a {
  position: absolute;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
.footer > div > div > div:nth-of-type(5) {
  grid-row-end: span 2;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #84827d;
  padding-top: 40px;
}
.footer > div > div > div:nth-of-type(5) > div {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
}
.footer > div > div > div:nth-of-type(5) > div > i {
  font-size: 18px;
  color: #d9a95b;
}
.footer > div > div > div:nth-of-type(5) > div > p {
  color: white;
  margin-left: 20px;
}
.footer > div > div > div:nth-of-type(6) {
  display: flex;
  margin-left: 10px;
}
.footer > div > div > div:nth-of-type(6) > a {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #23211b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > div > div > div:nth-of-type(6) > a > i {
  font-size: 18px;
  color: #84827d;
}
.footer > div > div > a > img {
  height: 70%;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer > div > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-end: span 2;
  font-size: 16px;
  color: #84827d;
  letter-spacing: 1px;
}
.footer > span:nth-of-type(1) {
  position: absolute;
  top: 967.3vh;
  -o-object-fit: cover;
     object-fit: cover;
  height: 533px;
  width: 550px;
  left: 0px;
  background-image: linear-gradient(rgba(51, 48, 41, 0.9960784314), rgba(51, 48, 41, 0.9176470588)), url(../img/footer-shape-1.png);
  background-size: cover;
}
.footer > span:nth-of-type(2) {
  position: absolute;
  top: 975vh;
  -o-object-fit: cover;
     object-fit: cover;
  right: 100px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(51, 48, 41, 0.462745098), #333029), url(../img/footer-shape-2.png);
  background-size: cover;
  animation: rotation1 20s linear infinite;
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer > img {
  position: absolute;
  height: 620px;
  top: 967.5vh;
  right: 0;
}/*# sourceMappingURL=master.css.map */