.header {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
    
    .top {
        width: 100%;
        height: 110px;
        background-color: #333029;
        >a {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // >img{
            //     // border: 2px solid yellow;

            // }
        }
        .contact {
            // border: 2px solid yellow;
            width: 70%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .link {
                flex-grow: 1;
                // border: 2px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-right: 1px solid #afaa9b6e;
                // >*{
                //     // border: 2px solid blue;
                // }
                >a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #23211b;
                    color: #d9a95b;
                    transition: .4s;
                    &:hover {
                        color: white;
                    }
                }
                .prg {
                    cursor: pointer;
                    width: 50%;
                    margin-left: 10px;
                    >p:nth-of-type(1) {
                        color: #979285;
                        text-transform: capitalize;
                    }
                    >p:nth-of-type(2) {
                        color: white;
                        font-weight: bold;
                        transition: .4s;
                        &:hover{
                            color: #d9a95b;
                        }
                    }
                }
            }
        }
    }
    
    .menu {
        width: 100%;
        height: 70px;
        .menubar {
            width: 60%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #84837d;
            >a  {
                margin: 0 15px;
                font-weight: bold;
                transition: .4s;
                position: relative;
                text-transform: capitalize;
                &:hover {
                    color: #d9a95b;
                    &::after {
                        width: 100%;
                    }
                }
            }
            >a::after {
                content: "";
                position: absolute;
                top: 5px;
                right: 0;
                height: 100%;
                width: 0;
                border-bottom: 3px solid #d9a95b;
                transition: 1s;
            }
        }
        
        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            >*{
                margin: 0 5px;
            }
            >a{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #f6f2eb;
                color: #84827d;
                transition: .4s;
                position: relative;
                &:hover {
                    background-color: #d9a95b;
                    color: white;
                }
            }
            .estimate {
                margin-left: 20px;
                width: 250px;
                background-color: #d9a95b;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                color: white;
                font-weight: bold;
                position: relative;
                &:hover::after{
                    width: 100%;
                }
                >p{
                    position: absolute;
                    z-index: 999;
                }
            }
            .estimate::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0%;
                height: 100%;
                background-color: #23211b;
                border-radius: 50px;
                transition: .4s;
            }
        }
    }

    .article {
        width: 100%;
        height: calc(100% - 180px);
        background-image: url(../img/slide-v1-2.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        >div {
            // border: 2px solid red;
            width: 60%;
            height: 60%;
            margin-left: 190px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            >* {
                width: 100%;
                // border: 2px solid green;
                color: #23211be4;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-family: 'Abril Fatface', cursive;
                font-family: 'Bai Jamjuree', sans-serif;
                font-family: 'Edu SA Beginner', cursive;
                font-family: 'Kanit', sans-serif;
                letter-spacing: 1px;
            }
            >h6 {
                font-size: 20px;
                margin-top: -30px;
            }
            h1 {
                font-size: 100px;
                position: relative;
                margin-left: 30px;
                text-transform: capitalize;
                margin-top: -40px;
            }
            h1::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 77%;
                margin-right: 30px;
                margin-top: 40px;
                border-left: 10px solid #d9a95b;
            }
            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 70px;
                background-color: #d9a95b;
                color: white;
                font-size: 20px;
                border-radius: 50px;
                margin-top: -20px;
            }
        }
    }
}


// end of header section 


.about {
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: 10% 5% 35% 50%;
    grid-template-rows: calc(100vh - 95px) 95px 80vh;

    // >*{
    //     // border: 2px solid red;
    // }
    .sideimg1 {
        display: flex;
        align-items: center;
        >div {
            width: 110px;
            height: 206px;
            // border: 2px solid green;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .Aarticle {
        grid-column-end: span 2;
        grid-row-end: span 2;
        display: flex;
        flex-wrap: wrap;
        >* {
            width: 100%;
            // border: 2px solid black;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-family: 'Abril Fatface', cursive;
            font-family: 'Bai Jamjuree', sans-serif;
            font-family: 'Edu SA Beginner', cursive;
            font-family: 'Kanit', sans-serif;
        }
        >p {
            font-size: 20px;
            &:nth-of-type(1), &:nth-of-type(2) {
                color: #c3c2bf;
            }
            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                position: relative;
                padding-left: 25px; 
                margin-bottom: 10px;                 
                &::before {
                  content: "\2714"; 
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 18px; 
                  color: #d9a95b;
                }
            }
            &:nth-of-type(1) {
                width: 130px;
                height: 30px;
                margin-top: 110px;
                border-bottom: 2px solid #d9a95b;
            }
        }
        >h3 {
            font-size: 55px;
            margin-top: -20px;
        }
        >div {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            >img {
                width: 80px;
                height: 80px;
                object-fit: cover;

            }
            >h5 { 
                margin-left: 10px;
                font-size: 28px;
                color: #d9a95b;
            }
        }
    }
    .Aimage {
        grid-row-end: span 2;
        >img {
            height: 85%;
            margin-top: 110px;
            width: 78%;
            position: relative;
        }
        >figure {
            width: 150px;
            height: 150px;
            position: absolute;
            right: 380px;
            top: calc(150vh + 180px);
            border-radius: 50%;
            // border: 2px solid green;
            display: flex;
            justify-content: center;
            background-color: #d9a95b;
            flex-wrap: wrap;
            z-index: 999;
            >img {
                width: 50%;
                height: 60%;
                object-fit: contain;
                border-radius: 30%;
            }
            figcaption {
                width: 80%;
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 20px;
                margin-top: -20px;
            }
            &::before {
                content: '';
                width: 80px;
                height: 80px;
                position: absolute;
                background-color: #d9a95b;
                transform: rotate(85deg);
                top: 55px;
                left: 55px;
                z-index: -1;
            }
        }
        img:nth-of-type(2) {
            position: absolute;
            width: 200px;
            height: 200px;
            object-fit: cover;
            right: 120px;
            top: calc(150vh + 380px);
            z-index: -1;
            animation: rotation 10s linear infinite;
            @keyframes rotation {
                from {
                   transform: rotateY(0deg);
                }
                to {
                   transform: rotateY(360deg);
                }
            }

        }
    }
    .sideimg2 {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-end: span ;
        position: absolute;
        top: calc(232vh);
        z-index: -1;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Agallery {
        grid-column-start: 3;
        grid-column-end: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        >div {
            height: 400px;
            width: 80%;
            left: 190px;
            position: absolute;
            // background-color: yellow;
            display: flex;
            flex-wrap: nowrap;
            >* {
                width: 30%;
                margin: 0 30px 0 0;
                // border: 2px solid red;
                border-radius: 20px;
            }
            >figure {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
                >figcaption {
                    background-color: white;
                    // border: 2px solid black;
                    position: absolute;
                    width: 330px;
                    height: 100px;
                    z-index: 999;
                    top: 300px;
                    border-radius: 10px 10px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-family: 'Abril Fatface', cursive;
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-family: 'Edu SA Beginner', cursive;
                    font-family: 'Kanit', sans-serif;
                    font-weight: bold;
                    text-align: center;
                }
            }
            >div {
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
                >div  {
                    position: absolute;
                    height: 100%;
                    width: 30%;
                    background-color: #d9a95bcc;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    >i {
                        position: absolute;
                        font-size: 100px;
                        top: -20px;
                        right: -20px;
                    }
                    div {
                        // border: 2px solid black;
                        width: 80%;
                        height: 90%;
                        display: flex;
                        flex-wrap: wrap;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        font-family: 'Abril Fatface', cursive;
                        font-family: 'Bai Jamjuree', sans-serif;
                        font-family: 'Edu SA Beginner', cursive;
                        font-family: 'Kanit', sans-serif;
                        >* {
                            width: 100%;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        >h6 {
                            font-size: 30px;
                            letter-spacing: 2px;
                        }
                        >div {
                            height: 40px;
                            >p:nth-of-type(2) {
                                font-size: 18px;
                                font-weight: bold;
                                margin-top: -30px;
                            }
                            &:nth-of-type(1) {
                                margin-top: -30px;
                            }
                            &:nth-of-type(2),  
                            &:nth-of-type(3) {
                                margin-top: 25px;
                            }
                        }
                        >a {
                            background-color: #23211b;
                            border-radius: 50px;
                            width: 80%;
                            margin: 60px 10% 0 10%;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}


// end of about section


.quality {
    width: 100%;
    height: 95vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .background {
        width: 100%;
        height: 100%;
        background-image: url(../img/interior-design-area-bg.jpg);
        background-size: cover;
        position: absolute;
        z-index: -1;
        background-attachment: fixed;
    }
    >div:nth-of-type(2),
    div:nth-of-type(3) {
        width: 30%;
        height: 70%;
        // border: 2px solid red;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Bai Jamjuree', sans-serif;
        font-family: 'Edu SA Beginner', cursive;
        font-family: 'Kanit', sans-serif;
        // >* {
        //     border: 2px solid green;
        // }
    }

    >div:nth-of-type(2) {
        width: 45%;
        >p {
            font-size: 18px;
            width: 200px;
            border-bottom: 2px solid #d9a95bcc;
            color: #84827d;
            letter-spacing: 1px;
        }
        >h3 {
            font-size: 50px;
            font-weight: bold;
        } 
        >div{
            display: flex;
            flex-wrap: nowrap;
            margin-top: 50px;
            >div {
                background-color: #d9a95b;
                font-size: 16px;
                width: 150px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                height: 50px;
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    background-color: white;
                    color: black;
                }
            }
        }
        >figure{
            display: flex;
            flex-wrap: nowrap;
            margin-top: 35px;
            justify-content: center;
            align-items: center;
            height: 170px;
            >img {
                width: 20%;
                margin-left: -120px;
            }
            >figcaption {
                margin-left: 20px;
                width: 60%;
                font-size: 18px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-family: 'Abril Fatface', cursive;
                font-family: 'Bai Jamjuree', sans-serif;
                font-family: 'Edu SA Beginner', cursive;
                font-family: 'Kanit', sans-serif;
                color: #84827d;
                letter-spacing: 1px;
            }
        } 
    }
    div:nth-of-type(3) {
        >div {
            height: 50%;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4 ,1fr);
            >* {
                // border: 2px solid blueviolet;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-family: 'Abril Fatface', cursive;
                font-family: 'Bai Jamjuree', sans-serif;
                font-family: 'Edu SA Beginner', cursive;
                font-family: 'Kanit', sans-serif;
                display: flex;
                align-items: center;
            }
            >i {
                grid-row-end: span 2;
                color: #d9a95b;
                font-size: 60px;
                padding-left: 25px;
                margin-top: -40px;
            }
            >h5 {
                grid-column-end: span 3;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1px;
                width: 90%;
            }
            >p {
                grid-column-end: span 3;
                grid-row-end: span 2;
                color: #84827d;
                font-size: 18px;
                letter-spacing: 1px;
                margin-top: -100px;
            }
            &:nth-of-type(2) {
                margin-top: 30px;
            }
        }
        >p {
            border-top: 1px solid #84827d;
            margin-top: -50px;
        }
    }
}


// end of quality section


.project {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    >* {
        width: 100%;
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Bai Jamjuree', sans-serif;
        font-family: 'Edu SA Beginner', cursive;
        font-family: 'Kanit', sans-serif;
    }
    >h3 {
        width: 100%;
        height: 150px;
        background-color: #d9a95b;
        font-size: 45px;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        position: relative;
        margin-top: -66px;
        &::after {
            content: '';
            position: absolute;
            background-color: #d9a95b;
            width: 100px;
            height: 100px;
            transform: rotate(45deg);
            z-index: -1;
            top: 40px;
        }
    }
    >div {
        width: 80%;
        height: 230px;
        flex-wrap: nowrap;
        margin-top: -60px;
        >figure {
            width: 205px;
            height: 100%;
            // border: 2px solid blue;
            flex-grow: 1;
            margin: 0 15px;
            border-radius: 10px;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                border-radius: 10px;

            }
            >figcaption {
                position: absolute;
                width: 0px;
                height: 227px;
                top: 463vh;
                background-image: linear-gradient(to top, #d9a95bda 5%, #d9a95b2e 50%,  #ffffff14 100%);
                transition: 1s;
                border-radius: 10px;
            }
            >p {
                width: 209px;
                height: 227px;
                position: absolute;
                top: 463vh;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                text-align: center;
                background-color: inherit;
                opacity: 0;
                transition: 2s;
                font-weight: bold;
                overflow: hidden;
                border-radius: 10px;
                >a {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    font-size: 25px;
                    transition: 2s;
                    top: 190px;
                    color: black;
                    &:hover {
                        background-color: #333029;
                        color: white;
                    }
                }
            }
            &:hover {
                >figcaption {
                    width: 214px;
                    border-radius: 10px;
                    &::before {
                        opacity: 1;
                    }
                }
                >p {
                    opacity: 1;
                }
            }
        }
    }
}


// end of the project section


.services {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(180deg, #f6f2eb 45%, white 45%);
}